

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1584617165598-6 {top: 40px; left: 100px; height: 80px; width: 100px;
        }
        .silex-id-1584617262697-8 {top: 40px; left: 340px; height: 80px; width: 100px;
        }
        .silex-id-1584617576606-9 {top: 40px; left: 220px; height: 80px; width: 100px;
        }
        .silex-id-1584618025584-11 {top: 320px; left: 380px; height: 64px; width: 64px;
        }
        .silex-id-1584617761379-10 {top: 340px; left: 100px; height: 40px; width: 220px;
        }
        .silex-id-1584619063165-12 {top: 220px; left: 100px; height: 20px; width: 20px;
        }
        .silex-id-1584619078657-21 {top: 220px; left: 420px; height: 20px; width: 20px;
        }
        .silex-id-1584619077374-20 {top: 220px; left: 380px; height: 20px; width: 20px;
        }
        .silex-id-1584619075968-19 {top: 220px; left: 340px; height: 20px; width: 20px;
        }
        .silex-id-1584619074493-18 {top: 220px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1584619073422-17 {top: 220px; left: 260px; height: 20px; width: 20px;
        }
        .silex-id-1584619070595-15 {top: 220px; left: 180px; height: 20px; width: 20px;
        }
        .silex-id-1584619069020-14 {top: 220px; left: 140px; height: 20px; width: 20px;
        }
        .silex-id-1584619071978-16 {top: 220px; left: 220px; height: 20px; width: 20px;
        }
    